/* google Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Pangolin&family=Patrick+Hand+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: rgb(155, 223, 200);
    z-index: 100;
    transition: all 0.5s ease;
    
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-Details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.sidebar .logo-Details i{
    font-size: 30px;
    color: #102929;
    background:rgb(155, 223, 200);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-Details .logo_name{
    font-size: 30px;
    font-weight: 700;
    color: rgb(16, 41, 41);
    transition: 0.3s ease;
    transition-delay: 0.1s;

   
}
.sidebar.close .logo-Details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}


.sidebar .nav-links{
    background:rgb(173, 243, 220);
    height: 100%;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background:  rgb(155, 219, 198);
}
.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
    display: block
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color:rgb(11, 70, 50);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 500;
    color: rgb(11, 70, 50);
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 88px;
    margin-top: -10px;
    background: rgb(155, 219, 198);
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav-links li .sub-menu a{
    color:rgb(16, 41, 41);
    font-size: 16px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transform: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}   
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    margin-top: 0;
    top: -10px;
    padding: 10px 20px ; 
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;

}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}


/* home section */
.home-section{
    position: relative;
    background: #72d6c1;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text  {
        color: #102929;
        font-size: 35px;

} 
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}
