@media screen and (max-width: 1400px) {
    .container{
        display: flex;
        
       
    }
    
}

@media screen and (max-width: 800px) {
    .container{

    }
    .container-text{
        /* width: 300px;  */
        margin-left: 0px;
    }
    .form-box{
        
        margin-right: 15px;
    }
}

@media screen and (max-width: 600px){
    .container{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 130vh;
    }

    .container-text{
        text-align: center;
    }
    
    
}